
.monaco-editor-container {
    height: 350px;
    border: 1px solid gray;
}

.decorationGlyphMarginClass {
    background: red;
}

.decorationContentClass {
    background: lightblue;
}
/*.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
     margin:5px 0;
}*/
textarea
{
  border:1px solid #999999;
  width:100%;
 
  padding:3px;
}