@using Microsoft.AspNetCore.Components.Web
@using BlazorMonaco

@inject Microsoft.JSInterop.IJSRuntime JS

<div class="monaco-editor-container" style="@ContainerStyle">
    <MonacoEditor @ref="_editor" 
                  Id="EditorId" 
                  ConstructionOptions="EditorConstructionOptions" 
                  OnDidInit="EditorOnDidInit" 
                  OnContextMenu="OnContextMenu" 
                  OnDidChangeModelContent="ModelContentChange" />
</div>

